body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gold;
    height: 100vh;
  }
  
  h1 {
    font-size: 100px;
    color: red;
  }

  h1, h2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
      padding: 150;
  }
